* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
}

.header {

    .header-title {

        h1 {
            font-weight: bolder;
            text-align: center;
            margin: 3rem 0;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: .2em;
        }

        p {
            text-align: center;
            margin: -2rem 0;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: .2em;
        }
    }

    .header-btn {
        text-align: center;
        margin: 8rem 0;

        .btn {
            padding: .5rem 3rem;
            border-radius: .5rem;
            transition: .5ms all;
        }

        .btn:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

.personal-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;

    .personal-details {
        width: 25%;
        margin: 0 2.5rem;
        text-align: justify;

        h1 {
            font-size: 24px;
        }

        b {
            font-weight: 700;
        }

        p {
            font-size: 24px;
        }

        a {
            padding: .5rem 2rem;
            border-radius: 10px;
            background-color: #000;
            color: white;
        }

        a:hover {
            background-color: #fff;
            color: #000;
        }

        i {
            margin: 0 .5rem;
            font-size: 1.5em;
        }
    }

    .personal-image {

        img {
            width: 20rem;
            border-radius: 50%;
        }
    }
}

.footer {

    p {
        text-align: center;
        margin: 1.5rem 0;
    }
}

@media all and (min-width: 769px) and (max-width: 1024px) {

    .header {

        .header-btn {

            .btn {
                margin-top: -5rem;
            }
        }
    }

    .personal-info {
        margin: 0 1rem;
        margin-top: -5rem;
        justify-content: center;

        .personal-details {
            width: 50%;
            margin: 0 1rem;
        }
    }
}

@media all and (min-width: 426px) and (max-width: 768px) {
    .header {

        .header-btn {
            display: block;
            margin: 3rem 0;

            .btn {
                display: block;
                margin-top: .5rem;
            }
        }
    }

    .personal-info {
        display: grid;
        margin: -5rem 1rem;
        justify-content: center;
        grid-template-rows: 1fr 1fr;

        .personal-details {
            width: 100%;
            text-align: center;
            margin: 0;
        }

        .personal-image {
            margin: 0 3rem;
            justify-content: center;
            text-align: center;
        }
    }

    .footer {

        p {
            margin-top: 7rem;
        }
    }
}

@media all and (max-width: 426px) {
    .header {

        .header-title {
            margin: 0 .4rem;
            text-align: center;
        }

        .header-btn {
            display: block;
            margin: 3rem 0;

            .btn {
                display: block;
                margin-top: .5rem;
            }
        }
    }

    .personal-info {
        display: grid;
        margin: -5rem 1rem;
        justify-content: center;
        grid-template-rows: 1fr 1fr;

        .personal-details {
            width: 100%;
            text-align: center;
            margin: 0;

            h1 {
                font-size: 20px;
            }

            p {
                font-size: 20px;
            }
        }

        .personal-image {
            margin: 0 1rem;
            justify-content: center;
            text-align: center;
        }
    }

    .footer {

        p {
            margin-top: 7rem;
        }
    }
}