* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
}

.header .header-title h1 {
  font-weight: bolder;
  text-align: center;
  margin: 3rem 0;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.header .header-title p {
  text-align: center;
  margin: -2rem 0;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.header .header-btn {
  text-align: center;
  margin: 8rem 0;
}
.header .header-btn .btn {
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  transition: 0.5ms all;
}
.header .header-btn .btn:hover {
  background-color: #000;
  color: #fff;
}

.personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
}
.personal-info .personal-details {
  width: 25%;
  margin: 0 2.5rem;
  text-align: justify;
}
.personal-info .personal-details h1 {
  font-size: 24px;
}
.personal-info .personal-details b {
  font-weight: 700;
}
.personal-info .personal-details p {
  font-size: 24px;
}
.personal-info .personal-details a {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: #000;
  color: white;
}
.personal-info .personal-details a:hover {
  background-color: #fff;
  color: #000;
}
.personal-info .personal-details i {
  margin: 0 0.5rem;
  font-size: 1.5em;
}
.personal-info .personal-image img {
  width: 20rem;
  border-radius: 50%;
}

.footer p {
  text-align: center;
  margin: 1.5rem 0;
}